## Required packages for this project
## Install packages by `pip install -r requirements.txt`

# Django
Django==2.2.8

# Data manipulation
pandas
numpy

# API packages
requests

# Database connection
psycopg2

# Selenium 
selenium

# Graph
plotly

# non-NLP ML Model
catboost

# NLP ML Model
sklearn

