{% extends 'kickstart/base.html' %}
{% load static %}

{% block content %}

<div class="main-container">
    <div class="top-bar">
        <div class="header">
            <h1>TEAM 11대0</h1>
        </div>
    </div>

    <div class="main-bar">
        <div class="gen-info">
            <p>데이터공학 프로젝트</p>
        </div>

        <div class="proj-bx">
            <div class="info-bx">
                <h3>Predict your project!</h3>
            </div>
            <p>{{ message }}</p>
            <div class="form-bx">
                <form method="post" id="kickForm">
                    {% csrf_token %}
                    <div class="form-content">
                        <div class="form-bx-1 form-lst">
                            <p>Main category</p>
                            {{ form_x.main_category }}
                        </div>
                        <div class="form-bx-3 form-lst">
                            <p>Location</p>
                            {{ form_x.location }}
                        </div>
                        <div class="form-bx-4 form-lst">
                            <p>Currency</p>
                            {{ form_x.currency }}
                        </div>
                        <div class="form-bx-5 form-lst">
                            <p>Date Start</p>
                            {{ form_x.date_start }}
                        </div>
                        <div class="form-bx-6 form-lst">
                            <p>Date End</p>
                            {{ form_x.date_end }}
                        </div>
                        <div class="form-bx-7 form-lst">
                            <p>Goal</p>
                            {{ form_x.goal }}
                        </div>

                        <div class="submit-x form-lst">
                            <input type="submit" value="Predict" class="submit-btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if main_category %}
    <div class="bot-bar">
        <div class="bot-bar-top">
            <div class="bbt_l g_bar">
                <div class="res-ttl">
                    <h4>Your project result...</h4>
                </div>
                <div class="z z1">
                    <p>Category:</p>
                    <p>{{ main_category }}</p>
                </div>
                <div class="z z2">
                    <p>Location:</p>
                    <p>{{ location }}</p>
                </div>
                <div class="z z3">
                    <p>Currency:</p>
                    <p>{{ currency }}</p>
                </div>
                <div class="z z4">
                    <p>Date start:</p>
                    <p>{{ date_start }}</p>
                </div>
                <div class="z z5">
                    <p>Date end:</p>
                    <p>{{ date_end }}</p>
                </div>
                <div class="z z6">
                    <p>Your goal:</p>
                    <p>{{ goal }}</p>
                </div>
                <div class="z z7">
                    <p>Model Prediction:</p>
                    <p class="prj-rs">Funding Success </p>
                </div>

            </div>
            <div class="bbt_r g_bar">
                {{ html_success_term|safe }}
            </div>
        </div>

        <div class="bot-bar-below">
            <div class="bbb-l g_bar" >
                {{ html_goal_dist|safe }}
            </div>
            <div class="bbb-r g_bar">
                {{ html_pledge_pp|safe }}
            </div>
        </div>
    </div>
    {% endif %}

</div>



{% endblock content %}